body{
    margin: 0;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-align: center;
}
main{
    min-height: 100vh;
    color: white;
    background-color: black;
    display: flex;

}
.card-container{
    max-width: 70rem;/*1110px*/
    min-width: 23rem;/*375 rem*/
    margin: auto;
    padding: 4rem 1rem;
    /* margin: 0 1.3rem; */
    display: flex;
    flex-direction: row-reverse;
}
.card{
    width: 100%;
}
.photo{
    border-radius: 0 0.5rem 0.5rem 0;
    overflow: hidden;
    background-color: #A458D4;
    /* width: 100%; */
    margin: 0;
    /* width: 48%; */
}
.photo img{
    height: 100%;
}
.something{
    background-color: #1C1938;
    margin: 0;
    padding: 3rem;
    border-radius: 0.5rem 0 0 0.5rem;
    overflow: hidden;
}
.something h1{
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
}
.something p{
    color: hsla(0, 0%, 100%, 0.35);
}
.mundi{
    color: #A458D4;
}
.acheive{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.ex{
    margin: 2rem 0 2rem 0;
}
@media(max-width:950px){
    .card-container{
        flex-direction: column;
        max-width: 540px;
    }
    .card{
        height: 100%;
    }
    .photo{
        border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
    }
    .something{
        border-radius:0 0 0.5rem 0.5rem;
    overflow: hidden;
    }
    .acheive{
        flex-direction: column;
        /* justify-content: right; */
        align-items: center;
    }
    .photo img{
        width: 100%;
    }
    .ex{
        margin: unset;
    }
    .something{
        padding: unset;
    }

}